@title-color: #8e75b2;
@text-color: #6d6d6d;
.background-color-gradient(){

background: #9678b5;
background: -moz-linear-gradient(left, #9678b5 0%, #6867a5 100%);
background: -webkit-linear-gradient(left, #9678b5 0%,#6867a5 100%);
background: linear-gradient(to right, #9678b5 0%,#6867a5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9678b5', endColorstr='#6867a5',GradientType=1 );

}

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
	box-sizing: border-box;
}
body {
	font: 19px/20px "HelveticaRegular", Arial, sans-serif;
	.background-color-gradient();
	color: @text-color;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	color: #FFF;
	text-decoration: none;
	&:visited, &:hover {
		color: #FFF;
	} 
}
.container {
	width: 800px;
	margin: 0 auto;

	@media (max-width:850px){	
		width: 600px;
	}
}
header {
	height: 950px;


	img {
		position: absolute;
		top: 2em;
		left: 2em;
	}
}
nav ul {
	text-align: right;
	margin-right: 2em;

	.menu-item {
	display: inline-block;
	text-transform: uppercase;
	padding: 75px 10px 0 10px;

}

}
.mainwrap {

	.section-color {
		background: #FFF;		
	}
	section {
		padding: 5em 0;

		@media (max-width:769px) {
			padding: 2em 0;
		}
	}

	.clouds{

		width: 100%;
    	position: absolute;
    	z-index: -1;
    	top: 36em;

    	@media (max-width:1655px)
    	{
			top: 38em;
    	}

    	@media (max-width:1455px) {
    		top: 40em;
    	}

    	@media (max-width:1170px) {
    		top: 42em;
    	}

    	@media (max-width:940px) {
    		top: 44em;
    	}

	}

	h1,h2 {
		color: @title-color;
		font-weight: normal;
		font-size: 2em;
		line-height: 1em;		
	}

	h1 {
		font-size: 3em;		
		margin: 1em 0;
	}

	p {
		line-height: 1.3em;
	}

	p.marked {
		color: @title-color;
	}

	.custom {
		li {			
			list-style-image: url(../../img/list-style.jpg);
			line-height: 1.3em;
			margin-bottom: .3em;
			margin-left: 1em;
			padding-left: .3em;
		}
	}

	.bold {
		font-weight: bold;
	}
	.section-list {
		position: relative;
		color: #FFF;

		img {
			position: absolute;			
    		left: -5em;
		}

		li {
			margin-bottom: 2em;
		}

		li > * {
			display: inline-block;

		}

		.list-text {
			vertical-align: top;	

			p,h3 {
				font-size: 1em;
				margin-top: 0;				
			}
					
		}

	}
	.section-list+p{
		color: #FFF;
	}

	footer {
		background-color: #FFF;
		text-align: center;
		padding: 5em 0;
		.menu-item {
			display: inline-block;
			margin-right: 1em;
		}
		.menu-item a {
			color: @title-color;
			text-decoration: underline;
			text-transform: uppercase;
			font-weight: bold;
		}
		p {
			color: @title-color;
		}
	}	
	
}